.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
ouput
Codigos/.DS_Store
Codigos/deprecated
*.Ds_Store
*.DS_Store
Codigos/Source/__py_cache__
*.txt
Codigos/Data/.DS_Store
Codigos/.DS_Store
.DS_Store
*.pyc