.Rproj.user
.Rhistory
.RData
.Ruserdata
ouput
Codigos/deprecated
*.DS_Store
Codigos/Source/__py_cache__
*.txt
*.pyc
Codigos/Source/__pycache__
~$*Resultados.xlsx
*.zip
*.lp
*.mps
*.xlsm
Resultados_con_bls.xlsx
papers/brekout_ls.pdf